body{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
button{
    /* width: 100px;
    height: 45px; */
    font-size: 2rem;
    font-family: cursive;
    background-color: green;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    border: 3px solid white;
    padding: 0.75rem;
}
.button{
    /* width: 100px;
    height: 70px; */
    font-size: 1.5rem;
    background-color: green;
    color: white;
    border-radius: 1rem;
}
.secbutton{
    /* width: 100px;
    height: 70px; */
    font-size: 1.5rem;
    background-color: white;
    color: green;
    border-radius: 1rem;
    border: 3px solid green;
}
.logo{
    font-size: 2rem;
    background-color: green;
    color: white;
    width: 30px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    left: 2rem;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    font-family: cursive;
}
.header-buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}  
.nav-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem, auto;
    align-items: center;
    /* background-color: red; */
    width: 35%;
}
.on{
    background-color: white;
    color: green;
    font-size: 1.5rem;
    will-change: scale;
    transition: scale 200ms;
    outline: none;
    border: none;
}
.on:hover{
    scale: 1.2;
}
.normal{
    background: transparent;
    outline: none;
    border: none;
    color: black;
    font-size: 1.5rem;
    /* will-change: scale; */
    transition: all 500ms;
}
.normal:hover{
    scale: 1.2;
    color: darkgreen;
}